body {
    color: white;
    width: 100%;
    position: absolute;
    height: unset;
    min-height: 1000px;
    z-index: -1;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: rgb(19, 85, 158);
    background-image: linear-gradient(0deg, rgb(19, 85, 158) 30%, rgba(19, 85, 158, 0) 65%, rgba(19, 85, 158, 0) 0px, transparent), linear-gradient(-241deg, rgb(24, 32, 126) 6%, rgba(24, 32, 126, 0.8) 16%, rgba(255, 255, 255, 0) 57%, transparent), linear-gradient(18deg, rgb(3, 88, 161) 20%, rgb(32, 141, 186) 60%, rgb(113, 137, 178) 75%, rgb(74, 64, 150) 90%);
}

.container {
    background-color: rgba(0, 34, 114, 0.65098);
    height: 400px;
    width: 1000px;
    border-radius: 20px;
    margin: 50px auto;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.heading {
    font-size: 40px;
    text-align: center;
    padding-bottom: 50px;
}

.input {
    border-radius: 10px;
    color: rgb(0, 34, 114);
    font-size: 2.2em;
    height: 60px;
    padding-left: 20px;
    width: 250px;
    border: 1px solid transparent;
    box-sizing: border-box;
}

.form-inline {
    display: flex;
    align-items: center
}

.form-inline label {
    margin:0 5px;
    font-size: 20px
}

.select {
    cursor: pointer;
    text-align: center;
}

.result-container {
    text-align: center;
    margin-top: 30px;
}

.big {
    display: block;
    font-size: 60px;
}

.conversion-rates {
    text-align: center;
}

.conversion-rates:first-child {
    margin-top: 20px;
}

.convert-btn {
    height: 60px;
    width: 60px;
    border-radius: 10px;
    background-color: rgb(252, 184, 19);
    color: rgb(0, 34, 114);
    border: 1px solid transparent;
    box-sizing: border-box;
    cursor: pointer;
}

svg {
    height: 30px;
    transform: none;
    width: 30px;
}

